{% extends "base.html" %}
{% load i18n %}
{% block Content %}

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">{{user}}'s <small>Accounts</small></h1>
        </div>

      </div>


      
      
      <div class="row">

        <div class="col-lg-12">
	  
<div class="row">
    <div class="col-lg-10">
      {% include "include/messages.html" %}
      
    {% if not surrogate.enumerations.all %}
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>{%trans "Welcome" %}</h4>
    This looks like is your first time here.  If you already have an NPI,
    then find yourself or the person you are managing by clicking
    <a href="#" class="alert-link">Add Existing Entity</a>.
    If you need to create an NPI for you or someone else, click
    <a href="#" class="alert-link">Create New Entity</a>. If you manage a large
    number of individuals or organizations, you can use the
    <a href="#" class="alert-link">Bulk Update</a> or
    <a href="#" class="alert-link">Bulk Create</a> features which allow you to
    upload information with a specially formatted-spreadsheet.
    </div>
    
  {% endif %}
      
      <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>{%trans "Managing Data for others:" %}</h4>
    
      Although you can manage your own information, this system is designed to
      allow delgation of enumeration information management. There are a few way
      to delegate this authority to others. <a target="_blank"href="/instructions/delegation" class="alert-link">Read more...</a> 
      
      
    </div>
    
    
      <div class="row">
        <div class="col-lg-12">
	  <ol class="breadcrumb">
	  <li class="active"><a href="/">Home</a></li>
	</ol>
        </div>
      </div>
    
    
      
      <div class="btn-group">
	<a href=/enumerations/surrogate-lookup><button type="button" class="btn btn-default">Add Existing Entity</button></a>
	<a href=/enumerations/create><button type="button" class="btn btn-default">Create New Entity</button></a>
	<a href=/enumerations/bulk-create><button type="button" class="btn btn-default">Bulk Create Entities</button></a>
	<a href=/enumerations/bulk-update><button type="button" class="btn btn-default">Bulk Update Entities</button></a>
      </div>
      <br><br>

  

  
    
 <div class="row">
    <div class="col-lg-12">     

      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Name / Parent</th>
    <th>Entity Type</th>
    <th>Enumeration Type</th>
    <th>Number</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  
  
  {% for e in surrogate.enumerations.all %}
  
  <tr>
    <td>{{ e.name }} / {{ e.parent_organization }}</td>
    <td>{{ e.entity_type }}</td>
     <td>{{ e.enumeration_type }}</td>
    <td>{{ e.pretty_number }}</td>
    <td>{{ e.pretty_status }}</td>
    <td>
      <a href="view">View</a> |
      {% if surrogate.user in e.managers.all %}
          <a href="/enumerations/edit/{{ e.id }}">Edit</a> | 
	  <a href="/enumerations/stop-managing/{{ e.id }}"> Stop Managing</a>
      {% else %}
          <a href="/enumerations/request-management/{{ e.id }}"> Request Permission to Manage</a>
      {% endif %}
      </td>
  </tr>
  {% endfor %}
    
      </table>

    </div>

        </div>

      </div>

    </div><!-- /.container -->

  
{% endblock %}

