 {% extends "base.html" %}

{% block Content %}


    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=NPPES');"></div>
            <div class="carousel-caption">
              <h1>National Plan and Provider Enumeration System</h1>
            </div>
          </div>

          <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=NPI');"></div>
            <div class="carousel-caption">
              <h1>Create or Update National Provider Identifiers</h1>
            </div>
          </div>

	   <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Search');"></div>
            <div class="carousel-caption">
              <h1>for provider information</h1>
            </div>
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
    </div>

    <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <h3><i class="fa fa-check-circle"></i> Try the ALPHA</h3>


	      <form  class="well" method="post" action="/accounts/login/">
		{% csrf_token %}
		<table>

		{{form.as_table}}

		</table>
		<p></p>
		<input type="submit" class="btn btn-success btn-large center-block"  value="Login" /><br>

	      </form>




            <p>This site under development and should be considered an alpha. Authentication
	    will occur through the
	    <a target="_blank" href="https://nppes.cms.hhs.gov/IAWeb">CMS Identity and Access (I&A) System</a>, but
	    the I&A interface is not yet active.  In the meantime, if you would
	    like to take the site for a spin, then you can <a href="/accounts/request-invite">request an invitation here</a>.
	    With an invitation code, you can <a href="/accounts/create">create an account.</a>
            If you already have and account, then <a href="/accounts/login">login</a>.</p>
          </div>

          <div class="col-lg-4 col-md-4">
            <h3><i class="fa fa-folder-open"></i> NPI</h3>
            <p>This site is where National Provider Identifiers (NPIs) are created and updated for individuals and organizations.
            Now you can delegate management of your NPI registration and information to others through surrogacy in I&A
            </p>
          </div>

	   <div class="col-lg-4 col-md-4">
            <h3><i class="fa fa-pencil"></i> Be Honest</h3>
            <p>18 U.S.C. 1001 authorizes criminal penalties against an individual who in any matter within the jurisdiction
	    of any department or agency of the United States knowingly or willfully falsifies, conceals, or covers up by any
	    trick, scheme or device a material fact, or makes any false, fictitious or fraudulent statements or representations,
	    or makes any false writing or document knowing the same to contain any false, fictitious or fraudulent statement or entry.
	    Individual offenders are subject to fines of up to $250,000 and imprisonment for up to five years. Offenders that are
	    organizations are subject to fines of up to $500,000. 18 U.S.C. 3571(d) also authorizes fines of up to twice the gross gain
	    derived by the offender if it is greater than the amount specifically authorized by the sentencing statute.</p>
          </div>

        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->





    <div class="section-colored text-center">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h2>Just looking around?</h2>
            <p>Check out a <a target="_blank" href="/profile/random">random profile</a>.</p>
            <hr>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->




{% endblock %}
