{% extends "base.html" %}
{% load i18n %}

{% block Content %}


  <div class="container">
    
    <div class="hero-unit">
    <h1>{% trans "Login" %}</h1>
  <br>
   
    <div class="row">
        
     <div class="col-lg-5">
    {% include "include/messages.html" %}
    
   
      
      
      <form class="well" method="post" action="">
        
        {% csrf_token %}
        <table>
	{% load bootstrap %}
	{{ form|bootstrap }}
        </table>
	<input type="submit" class="btn btn-primary btn-large"  value="{% trans 'Continue' %}" /><br>
	<a href="javascript:history.go(-1)">{% trans "Login" %}</a>
      
      </form>
    </div>
  </div>

<div class="row">
 <small><a href="/accounts/create">
 {% trans "Register here" %}</a> with an invitation code.
 For the time being, invitation codes are reserved for federal employees. We hope to give everyone a sneak peak soone this soon.
 </small>

    </div> 

    
{% endblock %}

