<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="NPPES"/>
<link href="{{ STATIC_URL }}img/favicon.png" rel="shortcut icon" type="image/x-icon" />
<script src="{{ STATIC_URL }}modern-business/js/jquery-1.10.2.js"></script>



<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NPPES Redux</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}modern-business/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{ STATIC_URL }}modern-business/css/modern-business.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}modern-business/font-awesome/css/font-awesome.min.css" rel="stylesheet">
