{% extends "base.html" %}
{% load i18n %}
{% block Content %}


    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Welcome <small>{{user}}</small></h1>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-12">
	  
	

  {% if additional_info %}
    <div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>{%trans "Important" %}</h4>
    {{ additional_info }}
    </div>

  {% endif %}

<div class="row">
    <div class="col-lg-10">
      {% include "include/messages.html" %}
      API documentation will go here.
    </div>

        </div>

      </div>

    </div><!-- /.container -->

  

{% endblock %}

