{% extends "base.html" %}
{% load i18n %}
{% block Content %}

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Edit:<small>{{enumeration.name}}</small></h1>
        </div>

      </div>


<div class="row">
    <div class="col-lg-12">      
      {% if enumeration.status == "E" %}
      <div class="alert alert-info">
              <a class="close" data-dismiss="alert">×</a>
              This record is either new or has been edited. When the additions and/or
	      changes are complete, click the
	      <a href ="href=/enumerations/submit-dialouge/{{enumeration.id}}">
		Submit Application for Enumeration</a> to begin the activation
		(or re-activation) process. Some superficial changes, such as
		changing other identifiers, the contact person, or a website will
		not change the state of an already active record.
            </div>
	{% elif enumeration.status == "P" %}
	 <div class="alert alert-warning">
              <a class="close" data-dismiss="alert">×</a>
              This record's enumeration status is Pending. Changes to the record are not
	      recommended at this time unless directed by the Enumeration help desk.
            </div>
	  
	{% elif enumeration.status == "A" %}
	 <div class="alert alert-info">
              <a class="close" data-dismiss="alert">×</a>
              This record's enumeration status is active. Some changes such as
	      license, taxonomy, practice location address, and mailing address
	      will require that the record be resubmitted for verification.
	      A dialogue box will indicate if resubmission is required.
            </div>
	{% endif %}
      
    </div>

      </div>

<div class="row">
    <div class="col-lg-12">
      {% include "include/messages.html" %}

        </div>

      </div>

      <div class="row">

        <div class="col-lg-12">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/enumerations/edit/{{enumeration.id}}">{{enumeration.name}}</a></li>
  </ol>

    </div>
  </div>

{% if enumeration.status != "A" %}
<div class="row">
    <div class="col-lg-12">
       <h2><a href=/enumerations/submit-dialouge/{{enumeration.id}}><button type="button" class="btn btn-success">Submit Application for Enumeration</button></a></h2>
    </div>
  </div>

{% endif %}
  
 <div class="row">
    <div class="col-lg-12">
 <h2>Enumeration Information </h2>

  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Section</th>
    <th>Required?</th>
    <th>Information</th>
    <th>Actions</th>
  </tr>
  </thead>

   <tr>
    <td>Enumeration Type / Number / Status</td>
    <td><span class="label label-default">N/A</span></td>
    <td>{{enumeration.enumeration_type}} / {{enumeration.number|default:"Unassigned"}} / {{enumeration.get_status_display}}</td>
    <td>
       <a href=/{{enumeration.handle}} target="_blank">View Public Profile</a>|
       <a href="/enumerations/flag-for-deactivation/{{enumeration.id}}">Flag for Deactivation</a> |
       <a href="/enumerations/flag-for-fraud/{{enumeration.id}}">Flag for Fraud</a>
    {% if user.is_staff %}
    |<a href="/enumerations/reactivate/{{enumeration.id}}">Reactivate</a>|
    <a href="/enumerations/replace/{{enumeration.id}}">Replace Enumeration with a New Number</a>
    {% endif %}
    
    </td>
  </tr>


  <tr>
    <td>Name</td>
    <td><span class="label label-success">Yes</span></td>
    <td>
      {{enumeration.name|default:"None"}}
    </td>

    <td>
      <a href="/enumerations/edit-basic/{{enumeration.id}}">Edit</a>
      </td>
  </tr>
  
  {% if enumeration.enumeration_type == "NPI-1" %}
   
   <tr>
    <td>Birthday, SSN, ITIN</td>
    <td><span class="label label-success">Yes</span></td>
    <td>
      {% if enumeration.ssn %}
	  SSN: ***-**-{{enumeration.ssn|slice:"-4:"}}
      {% endif %}
      
      {% if enumeration.itin %}
	  ITIN: ***-**-{{enumeration.itin|slice:"-4:"}}
      {% endif %}
      
      {% if enumeration.date_of_birth %}
	  <br>DOB: {{enumeration.date_of_birth}}
      {% endif %}
      
    </td>

    <td>
      {% if not enumeration.pii_lock %}
      
      <a href="/enumerations/edit-pii/{{enumeration.id}}">Edit</a>
      {% else %}
      Locked
      {% endif %}
    </td>
  </tr>
  {% endif %}
  
  
  
  <tr>
    <td>Other Names (e.g. Maiden)</td>
    <td><span class="label label-warning">No</span></td>
    <td>
      {{enumeration.other_first_name_1|default:"None"}} {{enumeration.other_last_name_1}}
    </td>

    <td>
      <a href="/enumerations/other-names/{{enumeration.id}}">Edit</a>
      </td>
  </tr>
  
  

   <tr>
    <td>Contact Person</td>
    <td><span class="label label-success">Yes</span></td>
   <td>
    {{ enumeration.contact_person_first_name|lower|capfirst|default:"None"}} {{ enumeration.contact_person_last_name|lower|capfirst}} 
    </td>
    <td>
    {% if enumeration.contact_person_first_name %}
      <a href="/enumerations/contact-person/{{enumeration.id}}">Edit</a>
    {% else  %}
     <a href="/enumerations/contact-person/{{enumeration.id}}">Create</a>
    {% endif%}
    </td>
  </tr>




  {% if enumeration.enumeration_type == "NPI-2" %}
   <tr>
    <td>Authorized Official</td>
    <td><span class="label label-success">Yes</span></td>
   <td>
    {{ enumeration.authorized_official_first_name|default:"None"}} {{ enumeration.authorized_official_last_name}} 
    </td>
    <td>
    {% if enumeration.authorized_official_first_name %}
      <a href="/enumerations/authorized-official/{{enumeration.id}}">Edit</a>
    {% else  %}
     <a href="/enumerations/authorized-official/{{enumeration.id}}">Create</a>
    {% endif%}
    </td>
  </tr>
  
  <tr>
    <td>Parent Organization</td>
    <td><span class="label label-warning">No</span></td>
   <td>
    {{ enumeration.parent_organization|default:"No parent organization" }}
    </td>
    <td>
    {% if enumeration.parent_organization %}
      <a href="/enumerations/parent-organization/delete/{{enumeration.id}}">Delete</a>
    {% else  %}
     <a href="/enumerations/parent-organization/add/{{enumeration.id}}">Create</a>
    {% endif%}
    </td>
  </tr>
   
  {% endif%}



 <tr>
    <td>Primary Specialty</td>
    <td><span class="label label-warning">No</span></td>
    <td>{{ enumeration.specialty }}</td>
    {% if enumeration.specialty  %}
    <td>
      <a href="/enumerations/specialty/{{enumeration.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/specialty/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}

     </tr>


 <tr>
    <td>Primary Taxonomy</td>
    <td><span class="label label-success">Yes</span></td>
    <td>{{ enumeration.taxonomy }}</td>
    {% if enumeration.taxonomy  %}
    <td>
      <a href="/enumerations/taxonomy/{{enumeration.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/taxonomy/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}

     </tr>


    <tr>
    <td>Business Mailing Address (Correspondence)</td>
    <td><span class="label label-success">Yes</span></td>
    <td>{{ enumeration.mailing_address }}</td>
    {% if enumeration.mailing_address  %}
    <td>
      <a href="/enumerations/address/edit/{{enumeration.mailing_address.id}}/{{enumeration.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/MAILING/{{enumeration.id}}">Create</a>
      </td>
 {% endif %}

    <tr>
    <td>Business Practice Location Address (Physical)</td>
    <td><span class="label label-success">Yes</span></td>
    <td>{{ enumeration.location_address }}</td>
    {% if enumeration.location_address  %}
    <td>
      <a href="/enumerations/address/edit/{{enumeration.location_address.id}}/{{enumeration.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/LOCATION/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}

     </tr>



    <tr>
    <td>1099 Address</td>
    <td><span class="label label-warning">No</span></td>
    <td>{{ enumeration.ten_ninety_nine_address }}</td>
    {% if enumeration.ten_ninety_nine_address  %}
    <td>
      <a href="/enumerations/address/edit/{{enumeration.ten_ninety_nine_address.id}}/{{enumeration.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/1099/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}

     </tr>


    <tr>
    <td>Medical Record Storage Address</td>
    <td><span class="label label-warning">No</span></td>
    <td>{{ enumeration.medical_record_storage_address }}</td>
    {% if enumeration.medical_record_storage_address  %}
    <td>
      <a href="/enumerations/address/edit/{{enumeration.medical_record_storage_address.id}}/{{enumeration.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/MEDREC-STORAGE/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}

     </tr>


    <tr>
    <td>Medicare Provider Validation Address</td>
    <td><span class="label label-warning">No</span></td>
    <td>{{ enumeration.revalidation_address }}</td>
    {% if enumeration.revalidation_address  %}
    <td>
      <a href="/enumerations/address/edit/{{enumeration.revalidation_address.id}}/{{enumeration.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/REVALIDATION/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}

     </tr>


     <tr>
    <td>Hanlde, Website, Social Media Links, and More</td>
   <td><span class="label label-warning">No</span></td>
   <td>
    Handle is: {{enumeration.handle}}
    </td>
    <td>
      <a href="/enumerations/edit-enhanced/{{enumeration.id}}">Edit</a>
      </td>
  </tr>

      </table>

    </div>
</div>





 <div class="row">
    <div class="col-lg-12">
      <h2>Licenses <a href=/licenses/add/{{enumeration.id}}><button type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>  Create</button></a></h2>
    </div>
 
  <div class="col-lg-12">
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>State</th>
    <th>Credential</th>
    <th>Code</th>
    <th>Status</th>
    <th>Verified</th>
    <th>Actions</th>
  </tr>
  </thead>


  {% for l in enumeration.licenses.all %}
  <tr>
    <td>{{l.license_type.get_state_display}}</td>
    <td>{{l.license_type.credential}}</td>
    <td>{{l}}</td>
    <td>{{l.get_status_display}}</td>
    <td>{{l.verified}}</td>
    <td> <a href=/licenses/view/{{l.id}}> View</a> |
         <a href=/licenses/delete/{{l.id}}/{{enumeration.id}}>Delete</a>
    </td>
    </tr>
         {% endfor %}


      </table>

    </div>
    </div>


<div class="row">
    <div class="col-lg-12">
 <h2>Identifiers  <a href=/identifiers/add/{{enumeration.id}}><button type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>  Create</button></a></h2>

  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Identifer</th>
    <th>State</th>
    <th>Code</th>
    <th>Issued By</th>
    <th>Updated</th>
    <th>Actions</th>
  </tr>
  </thead>


  {% for i in enumeration.identifiers.all %}
  <tr>
    <td>{{i.identifier}} </td>
    <td>{{i.get_state_display}} </td>
    <td>{{i.get_code_display}} </td>
    <td>{{i.issuer}} </td>
    <td>{{i.updated}} </td>

    <td>
      <a href=/identifiers/delete/{{i.id}}/{{enumeration.id}}>Delete</a>
    </td>
    </tr>
         {% endfor %}
      </table>

    </div>
    </div>



 <div class="row">
    <div class="col-lg-12">
 <h2>Additional Practice Addresses <a href=/enumerations/address/select-address-type/OTHER/{{enumeration.id}}><button type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>  Create</button></a></h2>

  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Purpose</th>
    <th>Address</th>
    <th>Actions</th>
  </tr>
  </thead>


  {% for a in enumeration.other_addresses.all %}
   <tr>
    <td>{{a.get_address_purpose_display}}</td>
    <td>{{a}}</td>
    <td>
      <a href="/enumerations/address/edit/{{a.id}}/{{enumeration.id}}">Edit</a>
    </td>
    </tr>
   {% endfor %}


      </table>
    </div>
 </div>

 <div class="row">
    <div class="col-lg-12">
 <h2>Additional Taxonomies  <a href=/enumerations/add-other-taxonomies/{{enumeration.id}}><button type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>  Create</button></a></h2>

  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Taxonomy</th>
    <th>Actions</th>
  </tr>
  </thead>


  {% for t in enumeration.other_taxonomies.all %}
  <tr>
    <td>{{t}} </td>

    <td>
         <a href=/enumerations/delete-other-taxonomy/{{t.id}}/{{enumeration.id}}>Delete</a>
    </td>
    </tr>
  {% endfor %}


      </table>

    </div>
    </div>







 <div class="row">
    <div class="col-lg-12">
 <h2>Direct Email Addresses  <a href=/direct/add/{{enumeration.id}}><button type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>  Create</button></a></h2>

  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Address</th>
    <th>Organization</th>
    <th>Actions</th>
  </tr>
  </thead>


  {% for a in enumeration.direct_addresses.all %}
  <tr>
    <td>{{a.email}} </td>
    <td>{{a.organization }} </td>
    <td>
         <a href=/direct/delete/{{a.id}}/{{enumeration.id}}>Delete</a>
    </td>
    </tr>
  {% endfor %}


      </table>

    </div>
    </div>



 <div class="row">
    <div class="col-lg-12">
 <h2>Managers  <a href=/enumerations/managers/add/{{enumeration.id}}><button type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>  Create</button></a></h2>

  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>


{% for m in enumeration.managers.all %}

  <tr>
    <td>{{m.first_name}} {{m.last_name}}</td>
    <td>{{m.email}}</td>
    <td>
      <a href="/enumeration/revoke-management/{{e.id}}">Remove Authority to Manage</a>
    </td>
  </tr>

  {% endfor %}


      </table>

    </div>
      </div>



    </div><!-- /.container -->


{% endblock %}

