{% extends "base.html" %}
{% load i18n %}
{% block Content %}

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Editing:<small> {{enumeration.name}} </small></h1>
        </div>

      </div>

    
    
      <div class="row">

        <div class="col-lg-12">
	  
<div class="row">
    <div class="col-lg-10">
      {% include "include/messages.html" %}
      
        </div>

      </div>
     

  

  
    
 <div class="row">
    <div class="col-lg-10">     
 <h2>Basic Information</h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Section</th>
    <th>Information</th>
    <th>Actions</th>
  </tr>
  </thead>
  
   <tr>
    <td>Enumeration Type / Number</td>
    <td>{{enumeration.enumeration_type}} / {{enumeration.pretty_number}}</td>
    <td>
       <a href="/enumeration/deactiviate/{{e.id}}">Deactivate</a> |
       <a href="/enumeration/report/{{e.id}}">Report Problem</a>
      </td>
  </tr>

  
  <tr>
    <td>Name, Point of Contact, etc.</td>
    <td>{{ enumeration.name }} ({{enumeration.enumeration_type}})</td>
    <td>
      <a href="/enumeration/edit/{{e.id}}">Edit</a>
      </td>
  </tr>
  
 
  
  
    <tr>
    <td>Primary Business/Correspondence Address</td>
    <td>{{ enumeration.primary_business_address }}</td>
    <td>
      <a href="/enumerations/address/edit/{{enumeration.primary_business_address.id}}/{{enumeration.id}}">Edit</a>
    </td>
  </tr>

    <tr>
    <td>Primary Location (Physical Practice Location)</td>
    <td>{{ enumeration.primary_practice_address }}</td>
    {% if enumeration.primary_practice_address  %}
    <td>
      <a href="/enumerations/address/{{enumeration.primary_practice_address.id}}/{{e.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}
    
     </tr>
    
    
    
    <tr>
    <td>1099 Address</td>
    <td>{{ enumeration.ten_ninety_nine_address }}</td>
    {% if enumeration.ten_ninety_nine_address  %}
    <td>
      <a href="/enumerations/address/{{enumeration.ten_ninety_nine_address.id}}/{{e.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}
    
     </tr>
    
  
    <tr>
    <td>Medical Record Storage Address</td>
    <td>{{ enumeration.medical_record_storage_address }}</td>
    {% if enumeration.medical_record_storage_address  %}
    <td>
      <a href="/enumerations/address/{{enumeration.medical_record_storage_address.id}}/{{e.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}
    
     </tr>
  
  
    <tr>
    <td>Medicare Provider Validation Address</td>
    <td>{{ enumeration.revalidation_address }}</td>
    {% if enumeration.revalidation_address  %}
    <td>
      <a href="/enumerations/address/{{enumeration.revalidation_address.id}}/{{e.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}
    
     </tr>
    
      </table>

    </div>
</div>





 <div class="row">
    <div class="col-lg-10">     
 <h2>Licenses  <a href=/licenses/add><button type="button" class="btn btn-default">Add</button></a></h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>State</th>
    <th>Type</th>
    <th>Number</th>
    <th>Status</th>
    <th>Verified</th>
  </tr>
  </thead>
  
  
  {% for l in enumeration.licenses.all %}
  <tr>
    <td>{{l.state}} </td>
    <td>{{l.license_type}} </td>
    <td>{{l.number}} </td>
    <td>{{l.status}} </td>
    <td>{{l.status}} </td>
    </tr>
         {% endfor %}
  

      </table>

    </div>
    </div>



 <div class="row">
    <div class="col-lg-10">     
 <h2>Profile Enhancement</h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Section</th>
    <th>Information</th>
    <th>Actions</th>
  </tr>
  </thead>
  
  

  
  <tr>
    <td>Basic Information</td>
    <td>{{ enumeration.name }} ({{enumeration.enumeration_type}})</td>
    <td>
      <a href="/enumeration/edit/{{e.id}}">Edit</a>
      </td>
  </tr>

      </table>
    </div>
    </div>



 <div class="row">
    <div class="col-lg-10">   
 <h2>Additional Addresses <a href=/enumerations/address/select-address-type/{{enumeration.id}}><button type="button" class="btn btn-default">Add</button></a></h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Purpose</th>
    <th>Address</th>
    <th>Actions</th>
  </tr>
  </thead>
  
  
  {% for a in enumeration.other_addresses.all %}
   <tr>
    <td>{{a.address_purpose}}</td>
    <td>{{a}}</td>
    <td>
      <a href="/enumerations/address/edit/{{a.id}}/{{enumeration.id}}">Edit</a>
    </td>
    </tr>
   {% endfor %}
  
 


      </table>
    </div>
 </div>



 <div class="row">
    <div class="col-lg-10">   
 <h2>Managers</h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>
  
  
{% for m in enumeration.managers.all %}
  
  <tr>
    <td>{{m.first_name}} {{m.last_name}}</td>
    <td>{{m.email}}</td>
    <td>
      <a href="/enumeration/revoke-management/{{e.id}}">Revoke</a>
    </td>
  </tr>
  
  {% endfor %}


      </table>

    </div>
      </div>





    </div><!-- /.container -->

  
{% endblock %}

