{% extends "base.html" %}
{% load i18n %}
{% block Content %}

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Edit:<small> {{enumeration.name}}</small></h1>
        </div>

      </div>


      <div class="row">

        <div class="col-lg-12">
	  
<div class="row">
    <div class="col-lg-10">
      {% include "include/messages.html" %}
      
        </div>

      </div>
     
      <div class="row">

        <div class="col-lg-12">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/enumerations/edit/{{enumeration.id}}">{{enumeration.name}}</a></li>
  </ol>
  
    </div>
  </div>

 <div class="row">
    <div class="col-lg-10">     
 <h2>Basic Information <a href=/profile/{{enumeration.number}}><button type="button" class="btn btn-default" target="_blank">View Public Profile</button></a></h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Section</th>
    <th>Required</th>
    <th>Information</th>
    <th>Actions</th>
  </tr>
  </thead>
  
   <tr>
    <td>Enumeration Type / Number / Status</td>
    <td>Yes</td>
    <td>{{enumeration.enumeration_type}} / {{enumeration.number|default:"Unassigned"}} / {{enumeration.pretty_status}}</td>
    <td>
       <a href="/enumeration/deactiviate/{{enumeration.id}}">Deactivate</a> |
       <a href="/enumeration/report/{{enumeration.id}}">Report a Problem</a>
      </td>
  </tr>

  
  <tr>
    <td>Basic Information</td>
    <td>Yes</td>
    <td>
    Contact Person, Authorized Official, etc.
    </td>
    
    <td>
      <a href="/enumerations/edit-basic/{{enumeration.id}}">Edit</a>
      </td>
  </tr>
  
  <tr>
    <td>Primary Taxonomy</td>
    <td>Yes</td>
    <td>
    {{enumeration.taxonomy}}
    </td>
    
    <td>
      <a href="/enumerations/edit-primary-taxonomy/{{enumeration.id}}">Edit</a>
      </td>
  </tr>
  
  
  
 
  {% if enumeration.enumeration_type == "NPI-2" %}
   <tr>
    <td>Parent Organization</td>
    <td>No</td>
   <td>
    {{ enumeration.parent_organization|default:"No parent organization" }}
    </td>
    <td>
    {% if enumeration.parent_organization %}
      <a href="/enumerations/parent-organization/delete/{{enumeration.id}}">Delete</a>
    {% else  %}
     <a href="/enumerations/parent-organization/add/{{enumeration.id}}">Create</a>
    {% endif%}
    </td>
  </tr>
  {% endif%}


    <tr>
    <td>Mailing Address (Correspondence)</td><td>Yes</td>
    <td>{{ enumeration.mailing_address }}</td>
    {% if enumeration.mailing_address  %}
    <td>
      <a href="/enumerations/address/edit/{{enumeration.mailing_address.id}}/{{enumeration.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/MAILING/{{enumeration.id}}">Create</a>
      </td>
 {% endif %}
 
    <tr>
    <td>Location Address (Physical)</td>
    <td>Yes</td>
    <td>{{ enumeration.location_address }}</td>
    {% if enumeration.location_address  %}
    <td>
      <a href="/enumerations/address/edit/{{enumeration.location_address.id}}/{{enumeration.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/LOCATION/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}
    
     </tr>
    
    
    
    <tr>
    <td>1099 Address</td>
    <td>Yes</td>
    <td>{{ enumeration.ten_ninety_nine_address }}</td>
    {% if enumeration.ten_ninety_nine_address  %}
    <td>
      <a href="/enumerations/address/edit/{{enumeration.ten_ninety_nine_address.id}}/{{enumeration.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/1099/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}
    
     </tr>
    
  
    <tr>
    <td>Medical Record Storage Address</td>
    <td>Yes</td>
    <td>{{ enumeration.medical_record_storage_address }}</td>
    {% if enumeration.medical_record_storage_address  %}
    <td>
      <a href="/enumerations/address/edit/{{enumeration.medical_record_storage_address.id}}/{{e.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/MEDREC-STORAGE/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}
    
     </tr>
  
  
    <tr>
    <td>Medicare Provider Validation Address</td>
    <td>Yes</td>
    <td>{{ enumeration.revalidation_address }}</td>
    {% if enumeration.revalidation_address  %}
    <td>
      <a href="/enumerations/address/{{enumeration.revalidation_address.id}}/{{e.id}}">Edit</a>
      </td>
    {% else %}
    <td>
      <a href="/enumerations/address/select-address-type/REVALIDATION/{{enumeration.id}}">Create</a>
      </td>
    {% endif %}
    
     </tr>
    
    
     <tr>
    <td>Profile Enhancements</td>
   <td>No</td>
   <td>
    Provide a website, social media links, etc. 
    </td>
    <td>
      <a href="/enumerations/edit-enhanced/{{enumeration.id}}">Edit</a>
      </td>
  </tr>
    
      </table>

    </div>
</div>





 <div class="row">
    <div class="col-lg-10">     
 <h2>Licenses  <a href=/licenses/add/{{enumeration.id}}><button type="button" class="btn btn-default">Add</button></a></h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>State</th>
    <th>Type</th>
    <th>Number</th>
    <th>Status</th>
    <th>Verified</th>
    <th>Actions</th>
  </tr>
  </thead>
  
  
  {% for l in enumeration.licenses.all %}
  <tr>
    <td>{{l.get_state_display}} </td>
    <td>{{l.get_license_type_display}} </td>
    <td>{{l.license_number}} </td>
    <td>{{l.get_status_display}} </td>
    <td>{{l.verified}} </td>
    <td> <a href=/licenses/view/{{l.id}}> View</a> |
         <a href=/licenses/delete/{{l.id}}/{{enumeration.id}}>Delete</a>
    </td>
    </tr>
         {% endfor %}
  

      </table>

    </div>
    </div>


<div class="row">
    <div class="col-lg-10">     
 <h2>Identifiers  <a href=/identifiers/add/{{enumeration.id}}><button type="button" class="btn btn-default">Add</button></a></h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Identifer</th>
    <th>State</th>
    <th>Code</th>
    <th>Issued By</th>
    <th>Updated</th>
  </tr>
  </thead>
  
  
  {% for i in enumeration.identifiers.all %}
  <tr>
    <td>{{i.identifier}} </td>
    <td>{{i.get_state_display}} </td>
    <td>{{i.get_code_display}} </td>
    <td>{{i.issuer}} </td>
    <td>{{i.updated}} </td>

    <td>
      <a href=/identifiers/delete/{{i.id}}/{{enumeration.id}}>Delete</a>
    </td>
    </tr>
         {% endfor %}
      </table>

    </div>
    </div>



 <div class="row">
    <div class="col-lg-10">   
 <h2>Additional Practice Addresses <a href=/enumerations/address/select-address-type/OTHER/{{enumeration.id}}><button type="button" class="btn btn-default">Add</button></a></h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Purpose</th>
    <th>Address</th>
    <th>Actions</th>
  </tr>
  </thead>
  
  
  {% for a in enumeration.other_addresses.all %}
   <tr>
    <td>{{a.get_address_purpose_display}}</td>
    <td>{{a}}</td>
    <td>
      <a href="/enumerations/address/edit/{{a.id}}/{{enumeration.id}}">Edit</a>
    </td>
    </tr>
   {% endfor %}
  

      </table>
    </div>
 </div>




 <div class="row">
    <div class="col-lg-10">     
 <h2>Direct Email Addresses  <a href=/direct/add/{{enumeration.id}}><button type="button" class="btn btn-default">Add</button></a></h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Address</th>
    <th>Organization</th>
    <th>Actions</th>
  </tr>
  </thead>
  
  
  {% for a in enumeration.direct_addresses.all %}
  <tr>
    <td>{{a.email}} </td>
    <td>{{a.organization }} </td>
    <td> 
         <a href=/direct/delete/{{a.id}}/{{enumeration.id}}>Delete</a>
    </td>
    </tr>
  {% endfor %}
  

      </table>

    </div>
    </div>





 <div class="row">
    <div class="col-lg-10">   
 <h2>Managers  <a href=/enumerations/managers/add/{{enumeration.id}}><button type="button" class="btn btn-default">Add</button></a></h2>
      
  <table class="table table-striped  table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>
  
  
{% for m in enumeration.managers.all %}
  
  <tr>
    <td>{{m.first_name}} {{m.last_name}}</td>
    <td>{{m.email}}</td>
    <td>
      <a href="/enumeration/revoke-management/{{e.id}}">Revoke</a>
    </td>
  </tr>
  
  {% endfor %}


      </table>

    </div>
      </div>



    </div><!-- /.container -->

  
{% endblock %}

