<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html lang="en">
  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{enumeration.name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}stylish-portfolio/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{ STATIC_URL }}stylish-portfolio/css/stylish-portfolio.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}{{e.background}}stylish-portfolio/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <style>
      .header {
        display: table;
        height: 100%;
        width: 100%;
        position: relative;

        {% if not enumeration.background_image %}
          background: url({{ STATIC_URL }}stylish-portfolio/img/stock-bgs/{{random_bg_image}}) no-repeat center center fixed;
        {% else %}
          background: url({{ MEDIA_URL }} {{ enumeration.background_image }}) no-repeat center center fixed;
        {% endif %}
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>

   </head>

  <body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><a href="http://startbootstrap.com">NPPES</a></li>
        <li><a href="#top">Home</a></li>
        <li><a href="#directions">Directions</a></li>
      </ul>
    </div>
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      
      <div class="text">
        
        
        
        
        
        
        <br><br>
        <div class="container well span6">
          <div class="row-fluid">
            
            
            <div class="col-sm-2 col-md-2">
              <img src="{{enumeration.secure_gravatar_url}}" class="img-circle"
              alt="" class="img-rounded img-responsive" />
            </div>
        
            <div class="col-sm-4 col-md-4">
              <blockquote>
                  <p>{{ enumeration.name_prefix}} {{enumeration.name}} {{enumeration.name_suffix}} {% if enumeration.credential %} {{enumeration.credential }}{% endif %}</p>
                  {% if enumeration.bio_headline %}<small><cite title="Source Title">{{enumeration.bio_headline}}</cite></small>{% endif %} 
              </blockquote>
              <p>
                <i class="glyphicon glyphicon-user"></i> {{enumeration.enumeration_type}}: {{enumeration.number}}
                  <br/>
                {%if enumeration.website %}
                <i class="glyphicon glyphicon-globe"></i> <a target=_blank href="{{enumeration.website}}">{{enumeration.website}}</a>
                  <br />
                  {% endif %}
                  <i class="glyphicon glyphicon-calendar"></i> Last Upddate: {{enumeration.last_updated}}</p>
            </div>
     
         </div>


         <div class="row"></div>


         <div class="row">
            
            <h1>Details</h1>  
            <table class="table table-striped table-bordered">
            
            
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            
            <tr>
              <td>{{enumeration.get_enumeration_type_display}}</td>
              <td>{{enumeration.number}} ({{enumeration.entity_type}})</td>
            </tr>
            
            <tr>
              <td>Status</td>
              <td>{{enumeration.pretty_status}}
              </td>
            </tr>
            
            
            {% if enumeration.specialty %}
            <tr>
              <td>Specialty</td>
              <td>{{enumeration.specialty}}
              </td>
            </tr>
            
            {% endif %}
            
            
            <tr>
              <td>Licenses</td>
              <td>{% for l in enumeration.licenses.all %}
              {{l}} ({{l.license_type.credential}} issued in {{l.license_type.get_state_display}}). Status is {{l.get_status_display}} as of {{l.updated}}<br></br>
              {% endfor %}
              </td>
            </tr>
            
            
             <tr>
              <td>Mailing Address</td>
              <td>{{enumeration.mailing_address}}<br></br>
              Phone: {{enumeration.mailing_address.telephone_number}} | 
              Fax: {{enumeration.mailing_address.fax_number}}
              
              </td>
            </tr>
            
            <tr>
              <td>Primary Practice Address</td>
              <td>{{enumeration.location_address}} (<a href="#directions">Map</a>)<br></br>
              Phone: {{enumeration.location_address.telephone_number}} | 
              Fax: {{enumeration.location_address.fax_number}}
              
              </td>
            </tr>
             <tr>
              <td>Taxonomy</td>
              <td>{{enumeration.taxonomy}} <strong>(Primary)</strong><br></br>
              {% for t in enumeration.other_taxonomies.all %}
              {{t}}<br></br>
              {% endfor %}
              
              </td>
            </tr>
            
            <tr>
              <td>Identifiers</td>
              <td>{% for i in enumeration.identifiers.all %}
              {{i.pretty_identifier}} <br></br>
              {% endfor %}
              </td>
            </tr>
            
            
            <tr>
              <td>Direct Addresses</td>
              <td>{% for d in enumeration.direct_addresses.all %}
              {{d.email}} ({{d.organization}})<br></br>
              {% endfor %}
              </td>
            </tr>
            
            
            
          
            
            </table>
          
          </div>
        </div>





      </div>
      </div>
        
      </div>
    </div>
    <!-- /Full Page Image Header Area -->



    <!-- Map -->
    <div id="directions" class="map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{enumeration.google_map_q}}&amp;aq=0&amp;ie=UTF8&amp;hq={{enumeration.google_map_q}}&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={{enumeration.google_map_q}}&amp;aq=0&amp;ie=UTF8&amp;hq={{enumeration.google_map_q}}&amp;t=m&amp;z=15&amp;iwloc=A"></a></small></iframe>
    </div>
    <!-- /Map -->

    <!-- Additional Directions -->
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>NOTE: This may not be the address you are seeking. Health
          care providers often practice at multiple locations. CMS may not
          have the latest information on file within NPPES.</h3>


          </div>
        </div>
      </div>
    </div>
    <!-- /Additional Directions-->



    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">

              {% if enumeration.website %}
              <li><a target="_blank" href="{{enumeration.website}}"><i class="fa fa-dribbble fa-3x"></i></a></li>
               {% endif %}

              {% if enumeration.facebook_handle %}
              <li><a href="https://www.facebook.com/{{enumeration.facebook_handle}}"><i class="fa fa-facebook fa-3x"></i></a></li>
              {% endif %}

              {% if enumeration.twitter_handle %}
              <li><a target="_blank" href="http://twitter.com/{{enumeration.twitter_handle}}"><i class="fa fa-twitter fa-3x"></i></a></li>
              {% endif %}
            </ul>
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            <a href="#" class="btn btn-lg btn-default">Back to Top</a>
            <hr>
            <p><a href="http://cms.hhs.gov" target="_blank">Centers for Medicare and Medicaid Services </a> |
            <a href="http://hhs.gov" target="_blank">Health and Human Services </a>

            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}stylish-portfolio/js/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}stylish-portfolio/js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

  </body>

</html>
